.task-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 22px 30px;
  gap: 10px;
  border-radius: 14px;
  box-shadow: 0 6px 58px rgba(196, 203, 214, 0.104);
}
.task-name {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 5px;
}
.task-priority {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 5px;
}
.task-title {
  color: #37393e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
.task {
  color: #0a1629;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}
.task-priority-title {
  color: #37393e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
.priority {
  color: #0ac947;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
.high-priority {
  color: #f73446;
}
.medium-priority {
  color: #ffbd21;
}
.task-status {
  width: 100px;
  text-align: center;
}
.task-button {
  background-color: hsla(217, 9%, 53%, 0.14);
  color: #37393e;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 7px 14px;
  border-radius: 8px;
}
.task-actions {
  display: flex;
  gap: 12px;
}

.task-actions svg {
  cursor: pointer;
}

.delete-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.delete-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.delete-buttons {
  display: flex;
  gap: 20px;
}
.delete-buttons button {
  padding: 13px 30px;
  cursor: pointer;
}

.delete-buttons .remove-button {
  background-color: rgb(246, 81, 96);
  color: #fff;
  font-weight: 500;
}
.delete-buttons .remove-button:hover {
  opacity: 0.8;
}
.delete-buttons .cancel-button:hover {
  opacity: 0.8;
}
.status-progress {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.task-progress {
  margin-top: 10px;
}
.task-header {
  display: flex;
}

@media (max-width: 800px) {
  .task-header {
    display: flex;
    width: 100%;
  }
  .task-priority {
    width: fit-content;
    margin: 0;
  }
  .task-name {
    margin: 0;
  }
  .task-priority-title {
    display: none;
  }

  .task-card {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 20px;
  }
  .task-status {
    width: max-content;
  }
  .task-name {
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  .status-progress {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  .task-progress {
    margin-top: 0;
  }
  .task-actions {
    width: 100%;
    justify-content: space-between;
  }
  .task-actions {
    margin-top: 12px;
  }
}
