html {
  background-color: #f0f2f5;
}
* {
  font-family: "Poppins", sans-serif;
  color: #0a1629;
  margin: 0;
  padding: 0;
  border: 0;
}

.App-header {
  background-color: #f0f2f5;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.button {
  background-color: #713fff;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(113, 63, 255, 0.25);
  border-radius: 14px;
  padding: 13px 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.top-title h2 {
  font-size: 36px;
}
.App-link {
  color: #61dafb;
}
.container {
  /* max-width: 100%;
  width: 720px;
  margin: 0 auto; */
}
.page-wrapper {
  width: 720px;
  display: grid;
  margin: 0 auto;
  min-height: 100vh;
}
.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer {
  color: black;
}
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./assets/fonts/poppins-v20-latin-200.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-200.woff") format("woff");
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/poppins-v20-latin-300.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-300.woff") format("woff");
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/poppins-v20-latin-500.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-500.woff") format("woff");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/poppins-v20-latin-600.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-600.woff") format("woff");
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/poppins-v20-latin-700.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-700.woff") format("woff");
}
